.parent{
    width: 600px;
    height: 310px;
    background-color: aquamarine;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.col{
    width: 50px;
    height: 200px;
}
.col1{
    background-color: red;
}
.col2{
    background-color: rgb(0, 255, 55);
}
.col3{
    background-color: rgb(0, 81, 255);
}
.col4{
    background-color: rgb(255, 0, 234);
}
